.container {
    max-width: 1100px;
    margin: 0 auto;
}


.about-section {
    padding: 5rem 2rem;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5rem;
    align-items: center;
}

.about-image img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.about-image{
    float:left;
    size: 10rem;
}

.lead{
    font-family: 'Poppins', sans-serif;
    color: solid black;
    font-size: 1.25rem;
    font-weight: 300;
}

.about-me{
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .about-grid { grid-template-columns: 1fr; }
    .img{
        width: 200;
        height: 200;}
}