.about{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5rem;
    align-items: center;
}

img{
    border-radius: 50%;
    border: 7px solid turquoise;
    width: 400px;
    height: 400px;
}

.about-image{
    float:left;
    padding-left: 3rem;
    size: 10rem;
}

.lead{
    font-family: 'Poppins', sans-serif;
    color: solid black;
    font-size: 1.25rem;
    font-weight: 300;
}

.about-me{
    padding:50px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .about-grid { grid-template-columns: 1fr; }
    .img{
        width: 200;
        height: 200;}
}