.hero {
    background-image: linear-gradient(to right, cyan, violet);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: aliceblue;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.hero p {
    font-size: 25px;
    margin: 0;
    color: aliceblue;
    font-family: 'Times New Roman', serif;
}